/Frums_Credits/.vs
/Frums_Credits/x64
/Frums_Credits/enc_temp_folder

/Frums_Credits/Frums_Credits
#/Frums_Credits/Frums_Credits.vcxproj
#/Frums_Credits/Frums_Credits.vcxproj.filters
/Frums_Credits/Frums_Credits.vcxproj.user

#!/Frums_Credits/Media/README.txt
#/Frums_Credits/Media
